@import '../../variables';

.contact-form {
	padding: 2rem;
}

.contact-form__submit {
	width: 100%;
	display:block;
	border:none;
	outline: none;
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	font-family: $sans-serif;
	color: $paragraph-color;
	background-color: $secondary-text-color;
	text-transform: uppercase;
	&:hover {
		color: darken($paragraph-color, 10%);
		background-color: darken($secondary-text-color, 10%);
	}
}