@import '../../variables';

@mixin label {
	font-size: 0.875rem;
	line-height: 2rem; 
	top:-2rem;
	left: 0;
	color: $paragraph-color;
}

.input-group__input, .input-group__textarea {
	width: 100%;
	margin-top:2rem;
	height: 2rem;
	padding: 0.5rem;
	display:block;
	border:none;
	outline: none;
	font-family: $sans-serif;
	color: $paragraph-color;

	&:hover, &:focus, &:invalid {
   		outline:none; 
   		box-shadow: none;
	}
	&:focus ~ .input-group__label {
		@include label;
	}
}

.input-group__textarea {
	resize: none;
	height: 5rem;
}

.input-group__label {
	font-family: $sans-serif;
	color: $paragraph-color;
	padding: 0.25rem;
	font-size: 1rem; 
	line-height: 1.5rem; 
	font-weight:normal;
	position:absolute;
	top: 0;
	left: 0;
}


.input-group { 
	position:relative; 
	margin-bottom: 2rem; 
}


.input-group__label--filled {
	@include label;
}

input::-ms-clear {
    display: none;
}
