@import '../../variables';

.things-about-me {
	padding: 2rem;
	text-align: center;
}

.things-about-me__header {
	@include header;
}

.things-about-me__subheader {
	font-size: 1.5rem;
	color: $secondary-text-color;
	margin: 0;
	font-family: $sans-serif;
	margin-bottom: 2.5rem;
}

.things-about-me__content {
	@include paragraph;
}