.slider {
	width: 100%;
	min-height: 13rem;
	height: 100%;
	position: relative;
}

.slider-slide-enter {  
  opacity: 0;  
}

.slider-slide-enter.slider-slide-enter-active { 
  opacity: 1; 
  transition: opacity 1500ms; 
}

.slider-slide-leave { 
  opacity: 1; 
}

.slider-slide-leave.slider-slide-leave-active { 
  opacity: 0; 
  transition: opacity 800ms; 
}

@media screen and (min-width: 30rem) {
  .slider {
    min-height: 9rem;
  }
}