@import '../../variables';

.menu {
	text-align: center;
	list-style: none;
	padding: 2rem;
	margin: 0 auto;
	line-height: 2rem;
	display: inline-block;
}

.menu__item {
	position: relative;
	display: inline-block;	
}

.menu__logo {
	width: 7.5rem;
	height: 7.5rem;
	display: inline-block;
	vertical-align: middle;
}

.menu__link {
	position: relative;
	z-index: 5;
	font-family: $serif;
	color: $main-text-color;
	font-size: 1rem;
	line-height: 2rem;
	text-transform: uppercase;
	width: 7.5rem;
	padding: 0 2rem;
	text-decoration: none;
	white-space: nowrap;
}

.menu--home-header {
	position: absolute;
}

.menu--header {
	position: relative;
}

.menu--home-header, .menu--header {
	left: 0;
	right: 0;
	z-index: 5;

	.menu__item {
		display: none;
	}

	.menu__link {
		&:hover:before {
			max-width: 100%;
		}

		&:before {
			position: absolute;
			overflow: hidden;
			max-width: 0;
			color: $main-text-color-hover;
			border-bottom: 2px solid $main-text-color-hover;
			content: attr(data-hover);
			-webkit-transition: max-width 0.5s;
			-moz-transition: max-width 0.5s;
			transition: max-width 0.5s;
		}

	}

}

@media screen and (min-width: 45rem) {
	.menu--home-header, .menu--header  {

		.menu__item {
			display: inline-block;
		}
	}

	.menu__icon {
		display: none;
	}
}