.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  display: inline-block;
  margin-right: 0.75rem;
  cursor: pointer;
  &:last-child {
  	margin-right: 0;
  }
}

.dot--selected, .dot:hover {
    opacity: 0.9;
  }