@import '../../variables';

.gallery-folder-link {
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-bottom: $page-padding;
}

.gallery-folder {
	width: 100%;
	height: 30rem;
	background-position: center;
    background-repeat: no-repeat;
   	outline: 0.15rem solid $secondary-text-color;
    outline-offset: -0.75rem;
    display: inline-block;
    position: relative;
   
}

.gallery-folder__title {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: $secondary-text-color;
    font-family: $serif;
}

@media screen and (min-width: 45rem) {
	.gallery-folder-link {
		width: 49%;
		margin-right: 2%;
		margin-bottom: 2%;
		&:last-child {
			margin-right: 0;
		}
	}
	

}

@media screen and (min-width: 65rem) {
	.gallery-folder-link {
		width: 32%;
		margin-right: 2%;
		&:last-child {
			margin-right: 0;
		}
	}
}