@import '../../variables';

$menu-icon-line-height: 0.3rem;
$menu-icon-line-margin: 0.4rem;
$menu-icon-width: 3*$menu-icon-line-height + 4*$menu-icon-line-margin;
$menu-icon-line-translate: $menu-icon-line-height + $menu-icon-line-margin;

.header-navigation {
  text-align: center;
}

.responsive-menu__icon {
  position: absolute;
  top: $page-padding;
  right: $page-padding;
  z-index: 10;
  padding: 1rem;
  cursor: pointer;
}

.responsive-menu__icon-line{
  width: $menu-icon-width;
  height: $menu-icon-line-height;
  background-color: $main-text-color;
  display: block;
  margin: $menu-icon-line-margin auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.responsive-menu {
  display: block;
  width: 70%;
  height: 100vh;
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  z-index: 5;

  .menu {
    padding: 4rem 2rem;
  
    &__logo {
      display: none;
    }

    &__item {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  .menu--home-header, .menu--header {
    .menu__item {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  .responsive-menu__icon-line {
    &:nth-child(2){
      opacity: 0;
    }

    &:nth-child(1){
      -webkit-transform: translateY($menu-icon-line-translate) rotate(45deg);
      -ms-transform: translateY($menu-icon-line-translate) rotate(45deg);
      -o-transform: translateY($menu-icon-line-translate) rotate(45deg);
      transform: translateY($menu-icon-line-translate) rotate(45deg);
    }

    &:nth-child(3){
      -webkit-transform: translateY(-$menu-icon-line-translate) rotate(-45deg);
      -ms-transform: translateY(-$menu-icon-line-translate) rotate(-45deg);
      -o-transform: translateY(-$menu-icon-line-translate) rotate(-45deg);
      transform: translateY(-$menu-icon-line-translate) rotate(-45deg);
    }
  }
}

@media screen and (min-width: 45rem) {

  .responsive-menu__icon {
    display: none;
  }
  .responsive-menu {
    display: block;
    width: 100%;
    height: auto;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 5;

    .menu {
      .menu__item {
        display: inline-block;
        width: 7.5rem;
      }
      .menu__logo {
        display: inline-block;  
      }
    }
  }
}