@import '../../variables';

.about-me {
	width: 75%;
	margin: 0 auto;
	padding: 2rem 0;
	

	&__header {
		font-size: 2rem;
		color: $secondary-text-color;
		margin: 0;
		font-family: $serif;
		margin-bottom: 2rem;
	}

	&__content {
		@include paragraph;
	}

	&__link {
		font-size: 1.5rem;
		color: $secondary-text-color;
		text-decoration: none;
		font-family: $sans-serif;
	}
}

