@import '../../variables';

$scroll-width: 1.5rem;

.scroll-down {
	position: absolute;
  bottom: 5rem;
  left: 50%;
  width: $scroll-width;
  height: 4.5rem;
  margin-left: -$scroll-width / 2;
  cursor: pointer;
}

.scroll-down__icon {
  width: $scroll-width;
  height: $scroll-width;
  display: block;
  border-left: 1px solid $secondary-text-color;
  border-bottom: 1px solid $secondary-text-color;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollAnimation 1.5s infinite;
  animation: scrollAnimation 1.5s infinite;
  }


@-webkit-keyframes scrollAnimation {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-$scroll-width, $scroll-width);
    opacity: 0;
  }
}
@keyframes scrollAnimation {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-$scroll-width, $scroll-width);
    opacity: 0;
  }
}