@import '../../variables';

footer {
	background-color: #8391BD;
	text-align: center;
	padding: 2rem 0;
}

.menu--footer {
	list-style-type: none;
    width: 75%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
    .menu__item {
    	display: block;
    	margin-right: 0rem;
	    width: 100%;
	    padding: 0;
	
	}
	.menu__link {
		color: $secondary-text-color;
	}
}

@media screen and (min-width: 45em) {
	.menu--footer {
	    .menu__item {
	    	display: inline-block;
	    	margin-right: 1rem;
		    width: auto;
		    padding: 0;
		    &:last-child {
		    	margin: 0;
		    	&:after {
		    		content: '';
		    		margin: 0;
		    	}
		    }
		    &:after {
		    	content: '/';
		    	margin-left: 1rem;
		    }
		}
		
	}
}
