@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$general-font-size: 16px;
$serif: 'Lora', serif;
$sans-serif: 'Roboto', sans-serif;

$main-text-color: #6e5aa2;
$main-text-color-hover: #CFB2DC;
$secondary-text-color: #DAECEF;
$paragraph-color: #424144;
$main-background: #BFB3DC;

$page-padding: 1rem;

@mixin paragraph {
	font-size: 1rem;
	line-height: 1.25rem;
	color: $paragraph-color;
	font-family: $sans-serif;
}

@mixin header {
	font-size: 2rem;
	color: $secondary-text-color;
	margin: 0;
	font-family: $sans-serif;
	margin-bottom: 1rem;
	letter-spacing: 0.05rem;
}