@import '../../variables';

.two-column-section {
	width: 100%;
	background-color: $main-background;
	display: block;
}

.two-column-section__left, .two-column-section__right {
	width: 100%;
	float: none;
	flex: none;
} 

@media screen and (min-width: 60rem) {
	.two-column-section {
		display: flex;
    	justify-content: center;
    	align-items: center;  
		height: 30rem;
	}

	.two-column-section__left, .two-column-section__right {
		width: 50%;
		float: none;
		flex: 1;
	}

	.two-column-section__left {
		float: left;
	}

	.two-column-section__right {
		float: right;
	}
}