@import '../../variables';

.contact {
	padding: 2rem;
}

.contact__header {
	@include header;
}

.contact__content {
	@include paragraph;
}

.contact__box {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.contact__box-item {
	display: block;
	background-color: #9584BF;
	color: white;
	width: 100%;
	margin: 0;
	padding: 1rem;
	text-align: center;
	margin-bottom: 2%;
		&:last-child {
			margin-bottom: 0;
		}
}

.contact__box-name {
	font-size: 1rem;
	font-family: $sans-serif;
	letter-spacing: 0.1rem;
}

.contact__box-value {
	font-size: .75rem;
	font-family: $sans-serif;
}

@media screen and (min-width: 30rem) {
	.contact__box-item {
		display: inline-block;
		width: 49%;
		margin-right: 2%;
		&:last-child {
			margin-right: 0;
		}
	}
}